.maincon {
  display: flex;
}

.left-side-container {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #02936F;
}

.right-container {
  width: 30%;
  height: auto;
  margin-top: 70px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
}
.cover-image {
  height: auto;
  flex-shrink: 0;
}

.container1{
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding-left: 150px;
}

.header{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header-H1{
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header-paragraph{
  width: 411px;
  color: #8692A6;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}
.paragraph{
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.box{
  width: 426px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #8692A6;
  color: #494949;
  font-family: Inter;
  font-size:17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  text-indent: 15px;

}
.login-box{
  width: 426px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #02936F;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.checkbox-raw{
  width: 100%;
  display: flex;
  align-items: center;
}
.custom-icon{
  width: 1rem; 
  height: 1rem; 
  margin-right: 0.75rem; 
}
.sign{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-up{
  color: #696F79;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.sign-up-here{
  color: #02936F;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.user{
  display: flex;
}
/* Hide the default checkbox */
.custom-checkbox {
  display: none;
  width: 1rem; 
  height: 1rem; 
  margin-right: 0.75rem;
}

/* Style the custom checkbox */
.custom-label {
  position: relative;
  display: inline-block;
  width: 1rem; 
  height: 1rem; 
  margin-right: 0.75rem;
  background-color: #FFF;
  border: 1px solid #A9A9A9;
}

/* Style the tick icon (pseudo-element) */
.custom-label::before {
  content: '\2713'; /* Unicode character for checkmark */
  font-size: 16px; /* Adjust size as needed */
  color: #FFF; /* Set the color of the checkmark to white */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden; /* Hide by default */
}

/* Change tick and background color when the checkbox is checked */
.custom-checkbox:checked + .custom-label {
  background-color: #02936F; /* Set background color to green */
}

.custom-checkbox:checked + .custom-label::before {
  visibility: visible;
}
