.user-types{
    margin-right: 20px;
}

.user-panel{
    width: 95px;
    height: 94px;
    flex-shrink: 0;
    align-items: center;
    border-radius: 6px;
    background: #D9D9D9;
}
.single-user{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
}
.user-para{
    text-align: center;
    width: 95px;
    margin-block-start: 0;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}